@charset "utf-8";
/* CSS Document */
.JJloading {
	padding:33px 0 0px !important;
	background:url(images/ajax-loader.gif) 50% 50% no-repeat;
	-moz-opacity:.30;
	filter:alpha(opacity=30);
	opacity:.30;
}
.JJclear {
	clear:both;
	height:0;
	margin:0;
	padding:0;
}
.jHtmlArea {
	width:419px !important
}
.ToolBar {
	width:417px !important
}
.jHtmlArea iframe {
	width:400px !important;
	height:100px !important
}
.JJToggler {
	display:block;
	width:100%;
	
	color:#000;
	margin:0 0 10px 0 !important;
	background:white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
	border:1px solid #E5E5E5;
	border-radius:3px;
	height:50px;
	overflow:hidden;
	
}

.JJToggler:hover {
	background:#fbfbfb;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.JJpostTxt {
	display:none;
    margin-bottom: 20px;
	position:relative;
	background:white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
	border:1px solid #E5E5E5;
	border-radius:3px;
	overflow:hidden;
}
.JJToggler a.JJtitle, .JJToggler a.JJtitle:active, .JJToggler a.JJtitle:hover {
	margin-right:5px;
	display:block !important;
	float:left !important;
	padding:12px 14px 13px 65px !important;
	background:url(images/plus.png) 0 50% no-repeat !important;
}
.JJToggler a.JJtitle.loaded {
	-moz-opacity:.80;
	filter:alpha(opacity=80);
	opacity:.80;
}
.JJToggler a.JJtitle.open {
	background:url(images/minus.png) 0 50% no-repeat !important;
}
.JJToggler .JJrank {
	float:right;
	line-height:52px;
	font-size:12px;
	font-weight:normal;
}
.JJremovePost {
	display:block;
	float:right;
	width:22px;
	height:22px;
	background:url(images/delete.png);
}
.JJremoveThread {
	display:block;
	float:right;
	width:31px;
	height:22px;
	background:url(images/delete1.png);
}
.reply_wrapper {
	padding:20px 20px 4px;
	border-top:1px #e5e5e5 solid;
	background-color:#f9f9f9;
}
.JJthreadTxt {
	background-color:white;
	border:1px solid lightgray;
	padding:1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:14px;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.067));
}
.JJthreadTxt h4 {
	background:#f9f9f9;
	height:29px;
	line-height:29px;
	padding-left:82px;
	font-weight:normal;
	font-size:16px;
}
.JJthreadTxt .JJuserBy{ float:left; margin:-22px 0px 10px; width:70px;}
.JJthreadTxt .JJuserBy{ font-size:10px;}
.JJthreadTxt .JJuserBy img.avatar{ margin:0 0}
.JJthreadTxt .JJuserBy img.user_rank_reply{ float:left; margin:5px 3px;}

.JJvotesPlusOne {
	background-image:url(images/voteup.png);
	background-repeat:no-repeat;
	background-color:transparent;
	min-width:26px;
	height:15px;
	display:block;
	cursor:pointer;
}
.JJvotesMinusOne {
	background-image:url(images/votedown.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:transparent;
	min-width:26px;
	height:15px;
	display:block;
	cursor:pointer;
}
span.JJvote {
	display:block;
	text-align:center;
	font-size:28px;
	text-align:center;
	width:60px;
	padding:5px 0;
	color:gray;
}
.JJvotes span, .JJvotes small {
	display:block;
	text-align:center;
}
.JJvideo, .JJvideo:hover, .JJvideo:active {
	display: inline-block;
	background:url(images/Video.png);
	width:35px;
	height:30px;
	cursor:pointer;
}
#JJreplyFormWrapper {
	position:fixed;
	top:-999px;
	z-index:999998;
	background:#FFF;
	padding:15px;
	border:#CCC solid 4px;
}
#JJpostFormWrapper {
	position:fixed;
	top:-999px;
	z-index:999998;
	background:#FFF;
	padding:15px;
	border:#CCC solid 4px;
}
#JJOverlay {
	background: none repeat scroll 0 0 #333333;
	display: block;
	float: left;
	height: 10000px;
	-moz-opacity:.30;
	filter:alpha(opacity=30);
	opacity:.30;
	position: fixed;
	top: 0;
	width: 10000px;
	z-index: 999997;
}
.JJimageLink {
	display:inline-block;
}
.jjFormRow {
	margin-bottom:8px;
}
.jjFormRow input#JJtopic {
	width:94%;
	padding:3px;
}
.jjFormRow input#JJvideo_id {
	width:100px;
	padding:3px;
}
.jjFormRow select#JJvideo_provider {
	width:120px;
	padding:3px;
}
.jjFormRow label {
	font-weight:bold;
}
.jjFormRow label {
	display:inline-block;
	line-height:30px;
}
.JJquote {
	padding:10px;
	font-style:italic;
	margin-bottom:8px;
	border:1px solid lightgray;
	margin-left:70px;
	color:#696969
}
.JJquote .JJquote {
	background: #999;
	margin-bottom:0px;
}
.JJquote .JJquote .JJquote {
	background: #666;
}
.JJquote .JJquote .JJquote .JJquote {
	background: #333;
	color:#FFF
}
.jjForum_cat {
	margin-bottom:20px;
	background:white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
	border:1px solid #E5E5E5;
	border-radius:3px;
	position:relative;
	overflow:hidden;
}
.jjForum_cat .jjForum_cat_img {
	float: left;
	height: 80px;
	margin:10px 20px 15px 15px;
	background-color:white;
	padding:5px;
	width: 80px;
	border:1px solid #ededed;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
}
.jjForum_cat .JJRSS {
	display:block;
	float:right;
	background:url(images/Rss.png) no-repeat;
	width:30px;
	height:30px;
}
.jjForum_cat h3 {
	margin:0 0 10px !important;
}
.JJcreatedDate {
	font-size:11px;
	color:#999;
	text-align:right;
	display:inline-block;
	padding:19px 0;
	font-style:italic;
	font-weight:normal;
}
.JJpostSide {
	width:80px;
	float:left;
	margin-left:20px;
	margin-top:15px;
}
.JJpostMain {
	margin-left:125px;
	min-height:150px;
	font-size:16px;
	padding-top:20px;
	border-left:1px solid #e5e5e5;
	padding-left:20px;
	padding-right:90px;
}
.JJuserBy {
	text-align:center;
	font-size:11px;
	color:#666;
	display:block;
}
.JJuserBy img.avatar {
	text-align:center;
	margin:5px auto;
	display:block;
	background-color:white;
	padding:5px;
	 border: 1px solid #E5E5E5;
	 border-radius:3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
}
.JJIntro {
	font-size:11px;
	color:#666;
	display:inline-block;
	margin:0 10px;
	padding:12px 0;
}
.JJthreadIcons .JJreplyIcon {
	background:url(images/write-icon.gif);
	display:block;
	width:16px;
	height:16px;
	cursor:pointer;
	float:right
}
.JJthreadIcons .JJquoteIcon {
	background:url(images/icon_post_reply.png);
	display:block;
	width:20px;
	height:20px;
	cursor:pointer;
	float:right
}
.JJreply,.JJreply2 {
	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding:5px 10px;
	border-radius:3px;
	text-decoration:none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
    border-width: 1px;
	display:inline-block;
	margin-right:4px;
}

.JJreplyDis {
	background:url(images/write-icon.gif) 0 50% no-repeat;
	padding-left:20px;
	color:#999
}
.JJreply2Dis {
	background:url(images/icon_post_reply.png) 0 50% no-repeat;
	padding-left:20px;
	color:#999 !important
}
.JJthreadIcons {
	float:right;
	font-size:11px;
	font-weight:normal;
	color:gray;
	padding-right:10px;
}

.JJthreadIcons a {
	text-decoration:none;
	color:gray !important;
}


.JJthreadTxts {
	padding:4px 12px;
	min-height:100px;
}
.JJthreadTags {
	padding:4px 12px;
}
.reply_wrapper ul, reply_wrapper ul ul {
	list-style: none !important;
	margin: 0!important;
	padding: 0!important;
}
.JJthreadTxts small{ display:block; margin:20px 0 12px}
.reply_wrapper ul ul {
	margin-left: 20px!important;
}
.reply_wrapper ul li {
	margin: 0;
	padding: 0 12px;
	line-height: 20px;
}
.reply_wrapper ul li:last-child, .reply_wrapper ul li.JJlast {
}
.JJpagination {
	margin:10px 0;
	padding:5px 0;
	background-color:#F9F9F9;
	border-radius:3px;
	border:1px solid #ededed;
}
.JJpagination ul {
	list-style:none!important;
	margin:0 0!important;
	padding:0 0!important;
	text-align:center;
}
.JJpagination ul li {
	margin:0 0!important;
	padding:0 3px!important;
	display:inline!important
}
.pagenav {
	padding:2px
}
.jjForum_tags_wrapper {
	margin:20px 0;
}
a.JJtag {
	display:inline-block;
	line-height:18px;
	font-size:12px;
	padding:2px 7px;
	background:#f9f9f9;
	border:1px solid #e5e5e5;
	margin-right:4px;
	color:#999 !important;
	text-decoration:none !important;
	border-radius: 3px;
}

a.JJtag:hover
{
	background-color:white;
	border:1px solid #555;
	color:#555 !important;
}

.JJsimlink {
	background-color:#F9F9F9;
	color:#999 !important;
	border-radius: 3px;
	padding:3px;
	border:none;
	border:1px solid #ededed;
}
#JJordering {
	text-align:right;
	margin:20px 0px;
}
.jjForum_user1 {
	background:white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
	border:1px solid #E5E5E5;
	border-radius:3px;
	padding:20px;
}
a#JJnew_post {
	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding:5px 10px;
	border-radius:3px;
	text-decoration:none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-style: solid;
    border-width: 1px;
	display:inline-block;
	margin:20px 20px 20px 0px;
	
}
.JJdirectLink {
	background:url(images/link.gif) no-repeat;
	float:right;
	margin:17px 9px;
	width:16px;
	height:16px;
	text-decoration:none;
}
.JJnew_replyWrapper {
	text-align:left;
	padding:20px;
	border-top:1px solid #e5e5e5;
}
.JJrankAvatar {
	margin:12px auto;
}
.JJred {
	color:#F00
}
.JJblue {
	color:#000099
}

.jjForum_cat h3 a 
{
color:#333;
font-size:24px;
text-decoration:none;
font-weight:normal;
text-shadow:0 1px 0 rgba(255,255,255,0.9);	
}

.counter
{
	background: none repeat scroll 0 0 #E12121;
    border: 1px solid #A80000;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    float: right;
    font: bold 14px/22px Consolas,Courier,monospace;
    height: 22px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	padding:0 5px;
	margin-right:10px;
}

#jjForum_wrapper h2.category_title
{
	color:#555;
font-size:30px;
}

#jjForum_wrapper
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.JJvotes
{
	position:absolute;
	background-color:white;
	border:1px solid lightgray;
	width:60px;
	top:20px;
	right:20px;
	border-radius:3px;
	overflow:hidden;
	text-align:center;
	color:gray;
}

.JJRSS
{
	position:absolute;
	bottom:7px;
	right:8px;
}

a.JJtitle
{
	color:#0088CC !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	text-decoration:none;
	font-size:20px;
	font-weight:normal;
}

.JJpostMain p 
{
	margin-top:0px;
}

.jjForum_cat h3
{
	background-color:#f9f9f9;
	border-bottom:1px solid #ededed;
	padding-top:15px;
	padding-bottom:10px;
}

.jjForum_user1 img
{
	background-color: white;
    border: 1px solid #EDEDED;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.067);
	padding:5px;	
}